// Define animation
@keyframes move {
  0% {
    transform: rotate(00deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes light {
  0% {
    box-shadow: 0 0 6px 2px rgb(73, 3, 3),
      -4px -0px 20px -1px rgba(105, 7, 7, 0.431);
  }
  50% {
    box-shadow: 0 0 6px 2px rgb(73, 3, 3),
      -4px -0px 20px -1px rgba(105, 7, 7, 0.431);
    box-shadow: 0 0 60px 2px rgb(151, 7, 7),
      -4px -0px 20px -1px rgba(255, 231, 124, 0.431);

    transform: scale(1.1);
  }

  100% {
    box-shadow: 0 0 60px 2px rgb(255, 255, 255),
      -4px -0px 20px -1px rgba(255, 231, 124, 0.431);

    transform: scale(0.01);
  }
}
