@keyframes move {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:nth-child(1) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background: white;
  clip-path: polygon(49% 0%, 58% 43%, 100% 35%, 63% 52%, 80% 90%, 52% 57%, 20% 90%, 43% 53%, 0% 35%, 47% 41%);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 6rem;
  top: 5rem;
}

.item:nth-child(2) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background: white;
  clip-path: polygon(49% 0%, 58% 43%, 100% 35%, 63% 52%, 80% 90%, 52% 57%, 20% 90%, 43% 53%, 0% 35%, 47% 41%);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 9rem;
  top: 9rem;
}

.item:nth-child(3) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background: white;
  clip-path: polygon(49% 0%, 58% 43%, 100% 35%, 63% 52%, 80% 90%, 52% 57%, 20% 90%, 43% 53%, 0% 35%, 47% 41%);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 14rem;
  top: 13rem;
}

.item:nth-child(4) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background: white;
  clip-path: polygon(49% 0%, 58% 43%, 100% 35%, 63% 52%, 80% 90%, 52% 57%, 20% 90%, 43% 53%, 0% 35%, 47% 41%);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 21rem;
  top: 17rem;
}

.item:nth-child(5) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background: white;
  clip-path: polygon(49% 0%, 58% 43%, 100% 35%, 63% 52%, 80% 90%, 52% 57%, 20% 90%, 43% 53%, 0% 35%, 47% 41%);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 30rem;
  top: 21rem;
}

.item:nth-child(5) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background: white;
  clip-path: polygon(49% 0%, 58% 43%, 100% 35%, 63% 52%, 80% 90%, 52% 57%, 20% 90%, 43% 53%, 0% 35%, 47% 41%);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.5rem;
  top: 19rem;
}

.item:nth-child(6) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background: white;
  clip-path: polygon(49% 0%, 58% 43%, 100% 35%, 63% 52%, 80% 90%, 52% 57%, 20% 90%, 43% 53%, 0% 35%, 47% 41%);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 32rem;
  top: 20rem;
}

.item:nth-child(7) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background: white;
  clip-path: polygon(49% 0%, 58% 43%, 100% 35%, 63% 52%, 80% 90%, 52% 57%, 20% 90%, 43% 53%, 0% 35%, 47% 41%);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 38.5rem;
  top: 21rem;
}

.item:nth-child(8) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background: white;
  clip-path: polygon(49% 0%, 58% 43%, 100% 35%, 63% 52%, 80% 90%, 52% 57%, 20% 90%, 43% 53%, 0% 35%, 47% 41%);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 46rem;
  top: 22rem;
}

.item:nth-child(9) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background: white;
  clip-path: polygon(49% 0%, 58% 43%, 100% 35%, 63% 52%, 80% 90%, 52% 57%, 20% 90%, 43% 53%, 0% 35%, 47% 41%);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 54.5rem;
  top: 23rem;
}

.item:nth-child(10) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background: white;
  clip-path: polygon(49% 0%, 58% 43%, 100% 35%, 63% 52%, 80% 90%, 52% 57%, 20% 90%, 43% 53%, 0% 35%, 47% 41%);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 64rem;
  top: 24rem;
}

.item:nth-child(10) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background: white;
  clip-path: polygon(49% 0%, 58% 43%, 100% 35%, 63% 52%, 80% 90%, 52% 57%, 20% 90%, 43% 53%, 0% 35%, 47% 41%);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 3rem;
  top: 8rem;
}

.item:nth-child(11) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background: white;
  clip-path: polygon(49% 0%, 58% 43%, 100% 35%, 63% 52%, 80% 90%, 52% 57%, 20% 90%, 43% 53%, 0% 35%, 47% 41%);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 7.2rem;
  top: 12rem;
}

.item:nth-child(12) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background: white;
  clip-path: polygon(49% 0%, 58% 43%, 100% 35%, 63% 52%, 80% 90%, 52% 57%, 20% 90%, 43% 53%, 0% 35%, 47% 41%);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 11.8rem;
  top: 16rem;
}

.item:nth-child(13) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background: white;
  clip-path: polygon(49% 0%, 58% 43%, 100% 35%, 63% 52%, 80% 90%, 52% 57%, 20% 90%, 43% 53%, 0% 35%, 47% 41%);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 16.8rem;
  top: 20rem;
}

.item:nth-child(14) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background: white;
  clip-path: polygon(49% 0%, 58% 43%, 100% 35%, 63% 52%, 80% 90%, 52% 57%, 20% 90%, 43% 53%, 0% 35%, 47% 41%);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 22.2rem;
  top: 24rem;
}

.item:nth-child(15) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background: white;
  clip-path: polygon(49% 0%, 58% 43%, 100% 35%, 63% 52%, 80% 90%, 52% 57%, 20% 90%, 43% 53%, 0% 35%, 47% 41%);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 28rem;
  top: 28rem;
}

.item:nth-child(16) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background: white;
  clip-path: polygon(49% 0%, 58% 43%, 100% 35%, 63% 52%, 80% 90%, 52% 57%, 20% 90%, 43% 53%, 0% 35%, 47% 41%);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 34.2rem;
  top: 32rem;
}

.item:nth-child(17) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background: white;
  clip-path: polygon(49% 0%, 58% 43%, 100% 35%, 63% 52%, 80% 90%, 52% 57%, 20% 90%, 43% 53%, 0% 35%, 47% 41%);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 40.8rem;
  top: 36rem;
}

.item:nth-child(18) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background: white;
  clip-path: polygon(49% 0%, 58% 43%, 100% 35%, 63% 52%, 80% 90%, 52% 57%, 20% 90%, 43% 53%, 0% 35%, 47% 41%);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 47.8rem;
  top: 40rem;
}

.items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  position: relative;
  background-color: red;
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

.items-container2 {
  display: flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  position: relative;
  background-color: blue;
  animation-name: move;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

/*# sourceMappingURL=main.css.map */
